node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
build
.DS_Store
.vscode
.idea
services/email-service/node_modules
services/email-service/dist
services/email-service/.env